  body {
      font: Montserrat, sans-serif;
      line-height: 1.8;
      background:url("images.jpg") no-repeat center fixed;
      background-size: cover;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
      background-color: #1abc9c; /* Green */
      color: #ffffff;
  }
  .bg-2 { 
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
  }
  .bg-3 { 
      background-color: #ffffff; /* White */
      color: #555555;
  }
  .bg-4 { 
      background-color: #2f2f2f; /* Black Gray */
      color: #fff;
  }

  .navbar {
   border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
  }
  .col-md-3{
    width: 25%;
    position: absolute;
    left: 35%;
    font-size: medium;
    font-weight: bold;
    color:black;

}

#blog{
 position: absolute;
left:65%;
}
.post-body{
  font-size:medium;
  font-style: normal;
  color: white;
}

.post-author{
  font-size:large;
  font-style: normal;
}